/*
 * Blog post chat bubbles
 */
ul#blog-list li {
  position: relative;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 1.25em;
  list-style: none;
  background-color: #bbffbb;
}
ul#blog-list li:first-child {
  margin: 0 0 0.5em 0;
}
ul#blog-list li:last-child {
  margin: 0.5em 0 0 0;
}
ul#blog-list li::before {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  bottom: -0.75em;
  left: -0.75em;
  transform: rotate(90deg);
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-right: 1.5em solid #bbffbb;
}

/*
 * Article styles
 */
article p {
  text-indent: 2em;
}

article p.noindent {
  text-indent: 0;
}

article blockquote {
  margin-bottom: 1em;
  background-color: #eeeeee;
}

article table tbody td, article table thead th {
  padding: 0 2em;
}

/*
 * Code
 */
code {
  font-family: monospace, monospace;
}

pre:has(code) {
  width: 100%;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  box-sizing: border-box;
  overflow-x: scroll;
  background-color: #333333;
}

pre > code {
  color: #ffffff;
}

/*
 * Hidden-by-default content
 */
article details {
  margin-bottom: 1em;
  background-color: #eeeeee;
}
article details summary {
  padding: 1em;
}
article details[open] summary {
  background-color: #888888;
}
article details summary p {
  display: inline;
  text-decoration: underline;
}

