/*
 * Bluesky content chat bubbles
 */
ul#bsky-list li {
  position: relative;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 1.25em;
  list-style: none;
  background-color: #bbffbb;
}
ul#bsky-list li:first-child {
  margin: 0 0 0.5em 0;
}
ul#bsky-list li:last-child {
  margin: 0.5em 0 0 0;
}
ul#bsky-list li::before {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  bottom: -0.75em;
  left: -0.75em;
  transform: rotate(90deg);
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-right: 1.5em solid #bbffbb;
}

