/* Common classes and main content organization */
div#cgit {
  padding: 0em;
  margin: 0 0 0 calc(100px + 1em);
  font-family: sans-serif;
  font-size: 10pt;
  color: #333;
  background: white;
  padding: 4px;
}
@media (max-width: 800px) {
  div#cgit {
    margin: 0;
  }
}

div#cgit .left {
  text-align: left;
}
div#cgit .right {
  text-align: right;
}
div#cgit table.nowrap td {
  white-space: nowrap;
}


/* Tables
 *  + cgit uses table elements to render most, if not all, content
 *     + the `header` id is set on the page header
 *     + the `tabs` class is set on the navigation bar
 *     + the `list` class is set to all content tables
 *  + To simplify logic, I am moving all CSS for `list` tables up and
 *    stripping the `list` class selectors
 *  + I have adopted the cgit header into my other web pages, and therefore
 *    moved all relevent CSS into my common stylesheet
 */
div#cgit table {
	width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
}

/* Note: As a *very* hacky work-around:
 * In order to pad table rows, add padding to the cells *except* the first one
 */
div#cgit table td {
  padding: 0.5rem 1rem;
}
div#cgit table td:first-child {
  padding: 0 1rem 0 0;
}
div#cgit table th {
  font-weight: bold;
  padding: 0.5rem 1rem;
}
div#cgit table th:first-child {
  padding: 0 1rem 0 0;
}

div#cgit table td a {
  color: #000;
  text-decoration: none;
}
div#cgit table td a:hover {
  color: #00f;
}


/* Index page
 *  + the `reposection` class is set on Section rows
 *  + the `sublevel-repo` class is set on repository rows under a Section
 */
div#cgit table td.reposection {
	font-style: italic;
	color: #888;
}

div#cgit table td.sublevel-repo {
	padding-left: 1.5em;
}

div#cgit span.age-mins {
  font-weight: bold;
  color: #080;
}

div#cgit span.age-hours {
  color: #080;
}

div#cgit span.age-days {
  color: #040;
}

div#cgit span.age-weeks {
  color: #444;
}

div#cgit span.age-months {
  color: #888;
}

div#cgit span.age-years {
  color: #bbb;
}


/* Decorations
 *  + cgit renders small colored boxes for
 *    + tags (yellow)
 *    + branches (green)
 *    + HEAD (red)
 */
div#cgit .decoration a {
  display: inline; /* enforce inline incase I set other links to render as blocks */
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}

div#cgit a.branch-deco {
  color: #000;
  background-color: #88ff88;
  border: solid 1px #007700;
}

div#cgit a.tag-deco {
  color: #000;
  background-color: #ffff88;
  border: solid 1px #777700;
}

div#cgit a.remote-deco {
  color: #000;
  background-color: #ccccff;
  border: solid 1px #000077;
}

div#cgit a.deco {
  color: #000;
  background-color: #ff8888;
  border: solid 1px #770000;
}


/* Navigation bar */
div#cgit table.tabs {
  border-bottom: solid 2px #808080;
}

div#cgit table.tabs td {
  padding: 0.5rem 0 0.5rem 1rem;
  vertical-align: bottom;
}

div#cgit table.tabs td a {
  padding: 0 1rem;
  color: #808080;
}

div#cgit table.tabs td a.active {
  color: #fff;
  background-color: #303030;
}

div#cgit table.tabs td.form form {
  white-space: nowrap; /* do not let search bar wrap lines */
}


/* Log page */
div#cgit span.insertions {
	color: #080;
}

div#cgit span.deletions {
	color: #800;
}


/* Tree page
 */
div#cgit div.path {
  margin: 0px;
  padding: 0.5rem 0 0.5rem 2rem; /* need right padding to align wth navigation bar */
  color: #000;
  font-family: monospace;
  background-color: #eee;
}

/*
div#cgit .ls-blob,
div#cgit .ls-dir {
	font-family: monospace;
}
*/

div#cgit td.ls-mode {
  width: 10rem;
  font-family: monospace;
}

div#cgit td.ls-size {
  width: 10rem;
  text-align: right;
}

div#cgit table.blob td.lines {
  padding: 0 0 0 0.5rem;
  color: #000;
}

div#cgit table.blob td.linenumbers {
  padding: 0 0.5rem 0 0;
  text-align: right;
  vertical-align: top;
  background: #eee;
  /* border-right: 1px solid #303030; */
}

div#cgit table.blob pre {
	padding: 0; margin: 0;
}

div#cgit table.bin-blob {
	margin-top: 0.5em;
	border: solid 1px black;
}

div#cgit table.bin-blob th {
	font-family: monospace;
	white-space: pre;
	border: solid 1px #777;
	padding: 0.5em 1em;
}

div#cgit table.bin-blob td {
	font-family: monospace;
	white-space: pre;
	border-left: solid 1px #777;
	padding: 0em 1em;
}


/* Commit page
 *  + decorations need to be made slightly smaller
 *  + tables with the `commit-info` class hold metadata about a commit, and are
 *    rendered as a vertical table (i.e. columns instead of rows)
 *     + table "headers" should not be bolded and should float to top-left
 *     + table should reflow with page, so spacing to the right needs to be
 *       added with padding
 *  + to render commit messages and SHA1 hashes as intended, need to apply both
 *    monospaced font and `white-space: pre`
 */

div#cgit table.commit-info {
  width: auto;
  padding: 0.5rem 0 0 0;
}

div#cgit table.commit-info th {
  font-weight: normal;
  padding: 0 1rem 0 0;
  text-align: left;
  vertical-align: top;
}

div#cgit table.commit-info td {
  padding: 0 1rem 0 0;
}

div#cgit div.commit-subject {
  font-weight: bold;
  margin: 1rem 0 0 0;
}

div#cgit div.commit-msg,
div#cgit .sha1 {
  white-space: pre;
  font-family: monospace;
}


/* Diff page, mode selector */
div#cgit div.cgit-panel {
  float: right;
}

div#cgit div.cgit-panel table {
  background-color: #eee;
}

div#cgit div.cgit-panel td {
  padding: 0 0 0.5rem 0.5rem;
}


/* Diff page, statistics */
div#cgit div.diffstat-header {
  font-weight: bold;
  padding: 0.5rem 0;
}

div#cgit table.diffstat {
  width: auto;
}

div#cgit table.diffstat td.mode {
  white-space: nowrap;
  font-family: monospace;
}

div#cgit table.diffstat td.upd {
  padding: 0 1rem;
  font-family: monospace;
}

div#cgit table.diffstat td {
}

div#cgit table.diffstat td.mode {
}

div#cgit table.diffstat td span.modechange {
	padding-left: 1em;
	color: red;
}

div#cgit table.diffstat td.add a {
	color: green;
}

div#cgit table.diffstat td.del a {
	color: red;
}

div#cgit table.diffstat td.upd a {
	color: blue;
}

div#cgit table.diffstat td.graph {
	width: 500px;
	vertical-align: middle;
}

div#cgit table.diffstat td.graph table {
	border: none;
}

div#cgit table.diffstat td.graph td {
	padding: 0px;
	border: 0px;
	height: 7pt;
}

div#cgit table.diffstat td.graph td.add {
	background-color: #5c5;
}

div#cgit table.diffstat td.graph td.rem {
	background-color: #c55;
}

div#cgit div.diffstat-summary {
	color: #888;
	padding-top: 0.5em;
}


/* Diff page, 'unified' mode
 *  + to render diffs correctly, need to apply both monospaced font and
 *  `white-space: pre`
 *  + `head` class is added to diff metadata
 *  + `hunk` class is added to diff context
 *  + `add` class is added to inserted content
 *  + `del` class is added to removed content
 */
div#cgit table.diff {
  margin: 1rem 0 0 0;
}

div#cgit table.diff td {
  font-family: monospace;
  white-space: pre;
}

div#cgit table.diff td div.head {
  font-weight: bold;
  color: #000;
}

div#cgit table.diff td div.hunk {
  color: #009;
}

div#cgit table.diff td div.add {
  color: green;
}

div#cgit table.diff td div.del {
  color: red;
}

/* Diff page, ssdiff mode
 *  + to render diffs correctly, need to apply both monospaced font and
 *  `white-space: pre`
 *  + `head` class is added to diff metadata, and should be bolded
 *  + `hunk` class is added to context, and should have top and bottom borders
 *  + `add` class is added to inserted content on the right-hand side, while
 *    `add-dark` is added to inserted content on the left-hand side
 *  + `del` class is added to removed content
 *  + line numbers (class `lineno`) need to be float to the top-right and
 *    darken on hover
 */
div#cgit table.ssdiff td {
  font-family: monospace;
  white-space: pre;
  padding: 0; /* reset to no padding */
}

div#cgit table.ssdiff td.add,
div#cgit table.ssdiff td.add_dark,
div#cgit table.ssdiff td.del,
div#cgit table.ssdiff td.del_dark,
div#cgit table.ssdiff td.changed {
  min-width: 50%;
}

div#cgit table.ssdiff .add {
  color: #000;
  background: #cfc;
}
div#cgit table.ssdiff .add_dark {
  color: #000;
  background: #aca;
}
div#cgit table.ssdiff .del {
  color: #000;
  background: #fcc;
}
div#cgit table.ssdiff .del_dark {
  color: #000;
  background: #caa;
}
div#cgit table.ssdiff .changed {
  color: #000;
  background: #ffc;
}
div#cgit table.ssdiff .changed_dark {
  color: #000;
  background: #cca;
}

div#cgit table.ssdiff td.lineno {
  padding: 0 0.5rem 0 0;
  text-align: right;
  vertical-align: top;
  background: #eee;
  /* border-right: 1px solid #303030; */
}
div#cgit table.ssdiff td.lineno a {
  color: #808080;
}
div#cgit table.ssdiff td.lineno a:hover {
  color: #000;
}

div#cgit table.ssdiff td.hunk {
  color: black;
  background: #ccf;
  border-top: solid 1px #808080;
  border-bottom: solid 1px #808080;
}

div#cgit table.ssdiff td.head {
  font-weight: bold;
  color: black;
}

/* create space between diffs */
div#cgit table.ssdiff td.space div {
  min-height: 3rem;
}


/* color table rows on hover... */
div#cgit table tr:hover {
  background: #eee;
}
/* ...except for these rows */
div#cgit table tr.nohover:hover,
div#cgit table.diff tr:hover,
div#cgit table.ssdiff tr:hover,
div#cgit table.diffstat tr:hover,
div#cgit table.blob tr:hover {
  background: #fff;
}
/* ...except for these specific types of rows */
div#cgit .ctx:hover {
  background: #eee;
}



/* Footer */
div#cgit div.footer {
  text-align: center;
  color: #808080;
}
div#cgit div.footer a {
  color: #808080;
}


/* Style definition file generated by highlight 3.9, http://www.andre-simon.de/ */
/* Highlighting theme: Kwrite Editor */
/* adapted for cgit */
div#cgit table.blob .num { color:#b07e00; }
div#cgit table.blob .esc { color:#ff00ff; }
div#cgit table.blob .str { color:#bf0303; }
div#cgit table.blob .pps { color:#818100; }
div#cgit table.blob .slc { color:#838183; font-style:italic; }
div#cgit table.blob .com { color:#838183; font-style:italic; }
div#cgit table.blob .ppc { color:#008200; }
div#cgit table.blob .opt { color:#000000; }
div#cgit table.blob .lin { color:#555555; }
div#cgit table.blob .kwa { color:#000000; font-weight:bold; }
div#cgit table.blob .kwb { color:#0057ae; }
div#cgit table.blob .kwc { color:#000000; font-weight:bold; }
div#cgit table.blob .kwd { color:#010181; }

table.blob .num  { color:#2928ff; }
table.blob .esc  { color:#ff00ff; }
table.blob .str  { color:#ff0000; }
table.blob .dstr { color:#818100; }
table.blob .slc  { color:#838183; font-style:italic; }
table.blob .com  { color:#838183; font-style:italic; }
table.blob .dir  { color:#008200; }
table.blob .sym  { color:#000000; }
table.blob .kwa  { color:#000000; font-weight:bold; }
table.blob .kwb  { color:#830000; }
table.blob .kwc  { color:#000000; font-weight:bold; }
table.blob .kwd  { color:#010181; }

body.hl { background-color:#e0eaee; }
pre.hl  { color:#000000; background-color:#e0eaee; font-size:10pt; font-family:'Courier New',monospace;}
.hl.num { color:#b07e00; }
.hl.esc { color:#ff00ff; }
.hl.str { color:#bf0303; }
.hl.pps { color:#818100; }
.hl.slc { color:#838183; font-style:italic; }
.hl.com { color:#838183; font-style:italic; }
.hl.ppc { color:#008200; }
.hl.opt { color:#000000; }
.hl.ipl { color:#0057ae; }
.hl.lin { color:#555555; }
.hl.kwa { color:#000000; font-weight:bold; }
.hl.kwb { color:#0057ae; }
.hl.kwc { color:#000000; font-weight:bold; }
.hl.kwd { color:#010181; }

