input {
  padding: 0.5em;
  border-radius: 1.25em;
}

button {
  width: 6em;
  padding: 0.5em;
  border-radius: 1.25em;
  border-color: #f8f9fa;
}

#identity {
  display: inline-block;
  margin: 0 0 0.5em 0;
  border-radius: 1.25em;
  background-color: #f8f9fa;
}

#identity-content {
  display: block;
  margin: 0 0 1em 0;
}

#identity-pubkey {
  margin: 0 0.5em 0 0.5em;
  font-family: monospace;
  background-color: #ffffff;
  word-break: break-all;
  border-radius: .5em;
}

#passwd {
  display: inline-block;
  margin: 0 0 0.5em 0;
  border-radius: 1.25em;
  background-color: #f8f9fa;
}

#passwd-content {
  display: block;
  margin: 0 0 1em 0;
}

#passwd-button {
  width: 8em;
}

.resized {
  display: block !important;
}

.hidden {
  display: none !important;
}

ul#chat-room {
  margin: 0;
  padding: 2em;
}

ul#chat-room li {
  position: relative;
  margin: 0.5em 4em 0 0;
  padding: 0.5em;
  border-radius: 1.25em;
  list-style: none;
  word-break: break-word;
  background-color: #bbffbb;
}

ul#chat-room li::before {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  bottom: -0.75em;
  left: -0.75em;
  transform: rotate(90deg);
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-right: 1.5em solid #bbffbb;
}

ul#chat-room li.unreadable {
  background-color: #ff6666;
}

ul#chat-room li.unreadable::before {
  border-right: 1.5em solid #ff6666;
}

ul#chat-room li.own {
  background-color: #bbffff;
  margin: 0.5em 0 0 4em;
}

ul#chat-room li.own::before {
  display: none;
}

ul#chat-room li.own::after {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  bottom: -0.75em;
  right: -0.75em;
  transform: rotate(90deg);
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-right: 1.5em solid #bbffff;
}

input#chat-input {
  width: calc(100% - 6em);
}

button#chat-button {
  width: 4em;
}
