body {
  margin-bottom: 50vh;
  padding: 0;
}
main {
  margin: 0 0 0 calc(100px + 1em);
  padding: 4px;
  font-size: 10pt;
  font-family: sans-serif;
}

hr {
  margin: 2em 0;
}
h1 {
  font-size: 150%;
}
h2 {
  font-size: 125%;
}
h3 {
  font-size: 112%;
}
h4 {
  font-size: 100%;
}
h5 {
  font-size: 100%;
}
h6 {
  font-size: 100%;
}
p {
  font-size: 100%;
  line-height: 1.5em;
}
ul {
  margin-bottom: 2em;
  padding-left: 2em;
}
li {
  margin-bottom: 0.5em;
}

