<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page titles
        + Use "MyFileTitle | Dominic Ricottone"
        + Exceptions for...
           + site homepage
           + if "site_title = true" is set in the file
          ... in which case use just "Dominic Ricottone"
    -->
  {{ $title := print .Title " | " .Site.Title }}
  {{ if or (.IsHome) (.Params.site_title) }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>

  <!--Stylesheets-->
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/blog.css" />
  {{ if .Params.chat }}     <link rel="stylesheet" type="text/css" href="/css/chat.css" /> {{ end }}
  {{ if .Params.lightbox }} <link rel="stylesheet" type="text/css" href="/css/gallery.css" /> {{ end }}
  {{ if .Params.lightbox }} <link rel="stylesheet" type="text/css" href="/css/lightbox-2.11.3.min.css" /> {{ end }}

  <!--JavaScript-->
  <script src="/js/jquery-3.6.0.min.js"></script>
  {{ if .Params.chat }}     <script src="/js/chat.js"></script> {{ end }}
  {{ if .Params.lightbox }} <script src="/js/lightbox-2.11.3.min.js"></script> {{ end }}
  <script>
$(document).ready(function() {
  $("nav button#navi").on("click", function(event) {
    $("nav ul#naviList").toggleClass("hide");
  });
  $("nav button#navi p").on("keypress", function(event) {
    if (event.which !== 13) {
      return;
    }
    $("nav ul#naviList").toggleClass("hide");
  });
});
  </script>
</head>
