{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ .Content }}

<hr/>

<p>Here are my most recent <a href="/posts/">blog posts</a>.<p>

<ul id="blog-list">
  {{ with .Site.GetPage "/posts" }}
  {{ range first 3 .Pages }}
  <li>
    <p><a href="{{ .Permalink }}">{{ .Title }}</a>, <i>posted on {{ .Date.Format "2006-01-02" }}</i></p>
    <p>{{ .Summary }}</p>
    {{ if .Truncated }}<p><a href="{{ .Permalink }}">Read More…</a></p>{{ end }}
  </li>
  {{ end }}
  {{ end }}
</ul>

<hr/>

<p>I occasionally post on <a href="https://bsky.app/profile/dricottone.bsky.social">Bluesky</a>, mostly about concerts and music.</p>

{{ partial "bsky.html" . }}

<hr/>

<p>My most listened to music of the last 30 days. See more on <a href="https://www.last.fm/user/al__dente">LastFM</a>.</p>

{{ partial "lastfm.html" . }}

<hr/>

<p>Articles from around the internet I would recommend reading.</p>

{{ partial "openring.html" . }}

<hr/>

Thanks for stopping by!

{{ end }}
