<div id="identity">
  <button onclick="toggleIdentity()">Identity</button>
  <div id="identity-content" class="hidden">
    <p>Your ephemeral public key is:</p>

    <div id="identity-pubkey"></div>
  </div>
</div>

<div id="passwd">
  <button onclick="togglePassword()">Password</button>
  <div id="passwd-content" class="hidden">
    <p>To enable symmetric encryption, enter a password into this text box.</p>
    <input id="passwd-input" autocomplete="off" type="text">
    <button id="passwd-button">Update Key</button>

    <p>The intended recipients of your messages need to put the same password into this text box, too.</p>

    <p>You can only have one password at a time.</p>
  </div>
</div>

<ul id="chat-room"></ul>
<input id="chat-input" autocomplete="off" type="text">
<button id="chat-button">Send</button>
